$tokens: (
  unit: rem,
  page: (
    backgroundColor: black,
    margin: 0,
    padding: 0
  ),
  colors: (
    (
      type: black,
      color: #161616,
      shades: ()
    ),
    (
      type: highlight-black,
      color: #212121,
      shades: ()
    ),
    (
      type: white,
      color: #fff,
      shades: ()
    ),
    (
      type: white-muted,
      color: rgba(255, 255, 255, 0.6),
      shades: ()
    ),
    (
      type: bright-green-100,
      color: rgb(146, 191, 48),
      shades: ()
    ),
    (
      type: bright-green-60,
      color: rgba(146, 191, 48, 0.6),
      shades: ()
    ),
    (
      type: bright-green-40,
      color: rgba(146, 191, 48, 0.6),
      shades: ()
    )
  ),
  fonts: (
    (
      type: main-text-regular,
      uri: '../fonts/lato-regular-webfont',
      sizes: (
        12,
        14,
        16,
        18,
        20
      )
    ),
    (
      type: main-text-bold,
      uri: '../fonts/lato-bold-webfont',
      sizes: (
        12,
        14,
        16,
        18,
        20
      )
    ),
    (
      type: main-text-link,
      uri: '../fonts/lato-bold-webfont',
      sizes: (
        12,
        14,
        16
      )
    ),
    (
      type: label-text,
      uri: '../fonts/alto-webfont',
      sizes: (
        12,
        14,
        16,
        18,
        20,
        22,
        24,
        26,
        28
      )
    )
  ),
  headings: (
    type: heading,
    uri: '../fonts/alto-webfont',
    variant: (
      (
        h1: 42
      ),
      (
        h2: 32
      ),
      (
        h3: 28
      ),
      (
        h4: 26
      ),
      (
        h5: 24
      ),
      (
        h6: 22
      )
    )
  ),
  spacing: (
    small: 1,
    medium: 2,
    large: 3
  )
);
